#idSet{
    color: fuchsia;
    background: #000;
}
*{
    color: aqua;
}
h1{
    color: red;
}
p{
    background: #000;
}

.heading{
    color: blue;
}
.h12{
    color: chartreuse;
}
.p12{
    color: coral;
}

/* input[type="text"]{
    border: #000;
    background: #000;
} */
.btn{
background: #b11b1b;
}
